# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
/client/.vs
/client/tinc-game/Debug
/client/tinc-game/Release
/client/tinc-game/x64
/client/updater/Debug
/client/updater/Release
/client/updater/x64
/client/Debug
/client/Release
/client/x64

# wxWidgets translate middle file
*.mo
*.pot

# tinc-game runtime files
/client/tinc-game/ping437_result.txt
/client/tinc-game/netsh437_result.txt
/client/tinc-game/bin
/client/tinc-game/networks
